[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wilhen/Escritorio/CE.png]
row=1
col=0

[/home/wilhen/Escritorio/Duplicado Cédula Extranjería.pdf]
row=3
col=0

[/home/wilhen/Escritorio/Migración Colombia - Duplicados CE.pdf]
row=2
col=0

[Papelera]
row=0
col=0

