[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wilhen/Escritorio/pago.png]
row=7
col=0

[/home/wilhen/Escritorio/Jhon.png]
row=0
col=1

[/home/wilhen/Escritorio/json.json]
row=5
col=0

[/home/wilhen/Escritorio/2024-01-29_08-38.png]
row=3
col=1

[/home/wilhen/Escritorio/Instructions.docx]
row=0
col=0

[/home/wilhen/Escritorio/date.py]
row=3
col=0

[/home/wilhen/Escritorio/steam.desktop]
row=4
col=0

[/home/wilhen/Escritorio/Impacto.png]
row=6
col=0

[/home/wilhen/Escritorio/Jorge.png]
row=1
col=1

[/home/wilhen/Escritorio/Fortalezas.png]
row=8
col=0

[/home/wilhen/Escritorio/Lalo.png]
row=2
col=1

[/home/wilhen/Escritorio/2023-11-15_17-01.png]
row=2
col=0

[/home/wilhen/Escritorio/testparu.sh]
row=4
col=1

[/home/wilhen/Escritorio/2023-11-15_17-09.png]
row=1
col=0

[Papelera]
row=5
col=1

