[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[5610B61110B5F7D7]
row=0
col=0

[96EC836CEC834589]
row=2
col=0

[776d666f-fdbd-41fb-a7f1-f8ea924de9e9]
row=1
col=0

[Papelera]
row=3
col=0

[/]
row=4
col=0

[/home/wilhen]
row=5
col=0

