[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wilhen/Escritorio/steam.desktop]
row=5
col=0

[/home/wilhen/Escritorio/date.py]
row=3
col=0

[/home/wilhen/Escritorio/2023-11-15_17-01.png]
row=2
col=0

[/home/wilhen/Escritorio/2023-11-15_17-09.png]
row=1
col=0

[/home/wilhen/Escritorio/Instructions.docx]
row=9
col=0

[/home/wilhen/Escritorio/json.json]
row=6
col=0

[/home/wilhen/Escritorio/pago.png]
row=4
col=0

[Papelera]
row=0
col=0

