[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wilhen/Escritorio/NoResponde.jpg]
row=2
col=1

[/home/wilhen/Escritorio/pago.jpg]
row=2
col=0

[/home/wilhen/Escritorio/comparative.png]
row=1
col=1

[/home/wilhen/Escritorio/Gildardo_tiempo.png]
row=3
col=1

[/home/wilhen/Escritorio/Gildardo_historial.png]
row=5
col=0

[/home/wilhen/Escritorio/BanescOnline viernes, 02 de junio de 2023 10_29_20 872 am.pdf]
row=1
col=0

[/home/wilhen/Escritorio/Pago.png]
row=4
col=0

[/home/wilhen/Escritorio/simu.pdf]
row=0
col=1

[/home/wilhen/Escritorio/BanescOnline viernes, 02 de junio de 2023 10_14_39 160 am.pdf]
row=3
col=0

[Papelera]
row=0
col=0

